#Files
.env
.env.example
.gitignore
cypress.json
jest.config.js
Makefile
renovate.json
reporterOpts.json
tsconfig.json
tslint.json
untyped.d.ts
webpack.config.js
yarn.lock
.DS_STORE
config.env.test
.travis.yml
.codeclimate.yml
commitlint.config.js
cypress-slack-reporter.tar.gz

#Folders
.circleci
coverage
cypress
mochareports
testReports
scripts
.scannerwork
src
samples