language: node_js
node_js:

  - "7"
  - "8"
  - "9"
  - "10"
os:
  - linux
matrix:
  fast_finish: true
cache: yarn
env:
  global:
    #Coveralls
    - secure: q18jQ57aIcHrY17uCYptShpEP0tnipb3lbqFEt/wjvvTT127aNAvWmGLOgHgzkzaVBAK4kVXFkEiFsASwCtQLIJMu3vV5bY7tWZ1h72BohFi6rE5V9lhuZxEY5iYlhPWu/25NTnXnf6eeLSv1UZFzbPhY6mFXS+DrfUJpRYuNg47LEB1hA/lhSZ0Fqu2kQ4/QjnR+98P56MIivbTp+k+LjOdW2rYbt9rYC9v4yIW5FgHAFs0hsMSv5tMXDZ2imAZkJYpE1qZ2ojuRd7z/S44Qbi1pXjzfSemoETiTN/p2Qj07sCZ246LEMeDpfuQjFM3u88tlvp1tacfRXGGad5E6dk1WLqQXh5yvRj9ce9yYiX5oqMLoXQC8acbwxyd6rTuU3AwtIzmkRCMCaJp4vkM61I/Rm/cG0RpIujUKRrOcI2fhKqTCL2oSyE6HT9gWGI0hmg9Gee88CaKQMf9zekaErD68aDJpj8fFdLLkWLCloFhCk2hPkqz5e4p98qITEvfMAoIadLrdSETAmrxHd1cNRqC2OWkGIPv0d2/p8nVrROXulSJ/uKHm5lznN5HNhB3yHyOvM/ZNBA3sat33uWjHaVv/pAQWyBy9jXdn7vcn0mirdVLEfvXaHlAdVKZmXQqa6zOF/VWmMDDRm8ImpaVHI2E6N40lvbWlVjZ2larw7k=
    # npmrc
    - secure: RushbjP3DC7XT7UGlg7pm5BbWAT0A8xqdRmV5BrtiNzyKqdaHICzSiZM8USZ+Y2eydWenprMoVrmCQrp/8I6FMcoBG+pZHffbhSPIMTqQDp5q5g6RxDi//mI8X/NLTXDxl1nTY3XQA/mKgYjVqKjDv6oXo8mNNinBIWarkFcV6brybSrC+kW0Ruxp5ca3JBBl51yMhtq13RXmhbIuFnqGFxBLmpNidDtImu8UXHTNXvQFwSRi8fmJrxalYQF0/utHH/V88aBQGCYo2NgMfZXYdKB55HLd7eBknRFTr/ssicxz5NEWP5GYVgVIRn7qvdCJXBCdzfIm2U3nNENGM5nRwZABfn2TKAJjKqMr96uEylQrqfnmXeq/LNFYJ4OJwLDai+1Q1/KQ5wy0D9mLzlADzfHwG7scZ8I5q2npmdQOnf3SMsm0G9UohutNs/7cuwHk9zgvsNHpfOzoVH+gNmPm0URDkATikO84I9/7gLP16dUdSxC6GVP+qjVRWO9H7k7RU+WmWzADz3wnIr/LOFZHM/ihQ5oWxwpltYiq+WaYQU6LvynlF7+JtvodWC5hlqj1buC+JCmOp+fkmyIUzuU7vbOF4tomJnOh3pemO8cmuTBGdMqAbeiImyfrCQmwsLeOK1xHr6Y+g6r26DYaK9jX1AnQeBMbpFsxn0U6ejSfXY=
install: yarn install --ignore-engines 
script: ./scripts/build.sh
before_deploy:
  - npm prune --production
  - tar -czvf cypress-slack-reporter.tar.gz package.json bin/* LICENSE README.md 
  - npm run deploy:prepare
deploy:
  - provider: releases
    api_key:
      secure: gaPLY7BxQp2J74fAEAil/6zbBMC5kOQ9ac9H2fm7e7dx5zta/81/4xec42z2SsvIQV7Wdeg9ImrroBijCJyQK8lRELgXaRddXuH0b80cPR3dVDUE3BLlcyme5b/KaJq+ar9beL3Y4BuyvCtgenW4ZqYEs5dwcJrvrzhnuENqdILSvm67Y21JTCWX7KQZECb7rHQsCI5mHfYBC1PzIKcNwXQ6TwnHg0GY/hPIJNYUFq5u+Xi1NUys8dmDfiMqTmRzZGGPXzN++XPlNUAq37+9l9ZqgNcz2NdLgxE5G4ix7XIfuUoRgMheI8JnzLitcBcHJPJVk6Mhz0UJtb7vz0yDVvBeofmS9547TellDqSgC3IVEfPibAQsAAFMI9oPr+Ed1B6+HAKKnShEiQiHIPqa7Uvwb5AvaUyBMWeBD7hxO7/PWKW6D4PlvcjAcR3mT0V4d4bAvDHR/8+d3s7oR/+rIga2XlydlHQfoXoYWbQxF79dTekWnMMHits55chj1pJUF7xAeuDcCGmpum8NpJK+XnNyuxepQEz+jaiZsVzOvXNJy/XJt6rzZjZDhgrSibe1l0if1CY3B8tPZXMFbDDtsPylXjkHMuy42ERhvrC0G/Ni+fKTCqfU5EISTk4GbanfoY/zt90KXZuSKRg1DiAPiPFxNwA2XxehPeL6KJPIi5o=
    file: cypress-slack-reporter.tar.gz
    skip_cleanup: true
    on:
      tags: true
      branch: automatedRelease
      node: "8"
  - provider: script
    skip_cleanup: true
    script: ./scripts/publish.sh
    on:
      tags: true
      branch: automatedRelease
      node: "8"