.circleci
cypress
node_modules
.gitignore
.travis.yml
cypress.json
jest.config.json
renovate.json
*.spec.js
*.spec.js.snap
*.xml
commitlint.config.js
jest.config.js
jest.travis.js
scripts
cypress-jest.tar.gz